@font-face
  font-family: 'icon'
  //src: url('../font/material.woff2') format('woff2')

  // This project uses the Glyphicons Halflings icon set provided by Bootstrap,
  // and licensed under the Apache v2.0 license.
  src: url("../font/glyphicons-halflings-regular.eot"), url("../font/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../font/glyphicons-halflings-regular.woff2") format("woff2"), url("../font/glyphicons-halflings-regular.woff") format("woff"), url("../font/glyphicons-halflings-regular.ttf") format("truetype"), url("../font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")

.icon
  font-family: 'icon'

.icon-text
  display: flex
  flex-direction: column
  align-items: center
  font-size: 35px
  text-shadow: 2px 2px 3px black, 0px 0px 10px rgba(0,0,0,0.5)

  &:before
    font-family: "icon"
    font-size: 132px

// Icon codes
@mixin icon($name, $content)
  $attr-list: null

  .icon[name=#{$name}]:before,
  .icon-text[name=#{$name}]:before
    font-weight: normal
    content: quote("#{$content}")

@include icon('play','\e072')
@include icon('pause','\e073')

@include icon('speed','\e141')
@include icon('volume','\e038')
@include icon('volume-50','\e037')
@include icon('volume-muted','\e036')

@include icon('hide','\e105')
@include icon('show','\e106')

@include icon('fullscreen','\e096')
@include icon('exit-fullscreen','\e097')

@include icon('load','\e134')
@include icon('replay','\e030')
