@font-face
  font-family: 'Roboto'
  src: url('../font/Roboto_Condensed/RobotoCondensed-Bold.ttf')

button
  font-family: 'Roboto', sans-serif

h2, h3
  text-shadow: 2px 2px 3px black, 0px 0px 10px rgba(0, 0, 0, 0.5)

h3
  font-size: 22px
  border-radius: 4px
