// Full screen
.full
  position: absolute

  left: 0
  top: 0
  width: 100%
  height: 100%

  // flex: 1 1 auto

  display: flex
  justify-content: center
  align-items: center

  overflow: hidden

// Fading elements
.fade
  transition: opacity 222ms, filter 500ms

.disabled
  cursor: initial
  pointer-events: none
  transform: scale(0.9)
  opacity: 0.4

  &:hover
    transform: scale(0.9)
    background-color: initial

// Hidden
.hidden
  opacity: 0
  display: none
  pointer-events: none

// Prevent images with empty src from showing
img.full
  display: none
  &[src]
    display: flex

// Prevent text selection, make cursor default (no text cursor)
.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  cursor: default
  pointer-events: none

// We either blur or make darker depending on the performance of the device.
.blurred
  filter: blur(20px)

@media screen and (orientation:portrait), screen and (max-height: 500px)
  .blurred
    filter: brightness(50%)
