<style>
.debugger {
	position: absolute;
	top: 0;
	left: 0;

	pointer-events: none;

	width: 100%;

	z-index: 99;

	display: flex;
}

.debug-message {
	background: red;

	transform: translate(-50%, -50%) rotate(-45deg);

	position: absolute;
	top: 50px;
	left: 50px;

	width: 100%;
	padding: 5px;

	font-size: 1.5em;
	font-weight: bold;
	text-align: center;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.4);

	z-index: 99;
}

.debug-controls {
	padding-left: 100px;

	pointer-events: all;
}
.debug-controls button {
	font-size: 1em;
}

.debug-fader {
	padding: 10px;
}

.debug-slider {
	white-space: nowrap;

	width: 100%;
	height: 20px;

	text-shadow: 1px 1px 1px black;

	background: grey;
}

.display.debug > .full {
	display: flex;
	flex-wrap: wrap;

	position: relative;
}

.background {
	opacity: 0.2;
}
</style>

<script>
	console.warn("Debugging mode enabled.");

function toggleFullFlex() {
	$('.player .display').toggleClass('debug');
}

function toggleLoading() {
	$('.player .post').removeClass('hidden');
	$$('.player .post video,picture,audio').removeClass('hidden');
}

function toggleDisplay() {
	$$('.debug-fader').toggleClass('hidden');
}

setTimeout(function() {
	toggleFullFlex();
	toggleLoading();
}, 220);
</script>

<div class="debug-message">DEBUG</div>

<div class="debugger">
	<div class="debug-controls">
		<button onclick="toggleFullFlex()">Full-flex</button>
		<button onclick="toggleLoading()">Loading</button>
		<button onclick="toggleDisplay()">Display</button>
	</div>

	<div class="debug-fader">
		<p>Faders</p>
		<div id="active-faders"></div>
		<script>
			Fader.attach = (function(sup) {
				return function(fader, source) {
					sup.apply(this, arguments);

					console.warn("Fader attached to source", source);
					var element = $('>div').class('debug-slider').text('#' + fader.id + '-' + source.element.e.tagName);

					fader.update = (function(sup) {
						return function(now) {
							try { sup.apply(this, arguments); }
							catch(e) { element.e.style.color = "yellow"; console.warn(e); }

							var p = this.falloff((now - this.start) / this.duration);

							if (p == 0 || p == 1) {
								element.e.style.background = 'green';
							} else if (p > 0) {
								element.e.style.background = 'yellow';
							} else {
								element.e.style.background = 'red';
								p = -p;
							}
							element.e.style.width = (p * 100).toFixed(2) + '%';
						}
					})(fader.update);

					$('#active-faders').append(element);
				}
			})(Fader.attach);
		</script>
	</div>

	<div class="debug-fader">
		<p>Timeouts</p>
		<div id="active-timeouts"></div>
		<script>
			var timeoutUpdates = {};

Timeout.prototype.play = (function(sup) {
	return function() {
		sup.apply(this, arguments);

		var element = $('>div').class('debug-slider').text('#' + this.id + '-' + this.delay);

		this.stop = (function(sup) {
			return function() {
				sup.apply(this, arguments);

				delete timeoutUpdates[this.id];
				element.remove();
			}
		})(this.stop);

		var self = this;
		timeoutUpdates[this.id] = function(now) {
			if (!self.timeout) return;
			var p = 1 - (now - self.start) / self.delay;
			element.e.style.width = (p * 100).toFixed(2) + '%';
		}

		$('#active-timeouts').append(element);
	}
})(Timeout.prototype.play);
		</script>
	</div>

	<div class="debug-fader">
		<p>Engine</p>
		<p>State: <span id="debug-engine-state"></span></p>
		<p>Volume: <span id="debug-engine-volume"></span></p>
		<p>Speed: <span id="debug-engine-speed"></span></p>
	</div>

	<div class="debug-fader">
		<p>Loaders</p>
		<div id="active-loaders"></div>
		<script>
			LoadingHandler.prototype.reset = (function(sup) {
				return function() {
					sup.apply(this, arguments);

					var element = $('>div')
						.class('debug-slider')
						.on('click', function() {
							this.remove();
						})
						.text(this.id + '-X');

					this.finish = (function(sup) {
						return function() {
							sup.apply(this, arguments);

							element.css({ background: 'green' });
						}
					})(this.finish);

					this.start = (function(sup) {
						return function() {
							sup.apply(this, arguments);
							element.text(this.id + '-' + this.pending);
						}
					})(this.start);

					this.end = (function(sup) {
						return function() {
							sup.apply(this, arguments);
							element.text(this.id + '-' + this.pending);
						}
					})(this.end);

					this.on('update', function(evt) {
						element.css({ background: 'yellow', width: (evt.progress * 100).toFixed(2) + '%' });
					});

					$('#active-loaders').append(element);
				}
			})(LoadingHandler.prototype.reset);
		</script>
	</div>

	<div class="debug-fader">
		<p>Sources</p>

		<p>Unloaded: <span id="active-sources-unloaded"></span></p>
		<p>Prepared: <span id="active-sources-prepared"></span></p>

		<p>List</p>
		<div id="active-source-list"></div>

		<script>
			Source.unloaded.push = (function(sup) {
				return function(source) {
					sup.apply(this, arguments);
					$('#active-sources-unloaded').text(this.length);
				}
			})(Source.unloaded.push);

Source.prepared.push = (function(sup) {
	return function(source) {
		sup.apply(this, arguments);
		$('#active-sources-prepared').text(this.length);
	}
})(Source.prepared.push);

Source.unloaded.shift = (function(sup) {
	return function(source) {
		var sr = sup.apply(this, arguments);
		$('#active-sources-unloaded').text(this.length.toString());
		return sr;
	}
})(Source.unloaded.shift);

Source.prepared.shift = (function(sup) {
	return function(source) {
		var sr = sup.apply(this, arguments);
		$('#active-sources-prepared').text(this.length.toString());
		return sr;
	}
})(Source.prepared.shift);

var sourceUpdates = [];

Source.sources.push = (function(sup) {
	return function(source) {
		var sr = sup.apply(this, arguments);

		var element = $('>p')
			.class('debug-slider')
			.text(source.srcs.join(' '));

		if ((source instanceof SourceAudio) || (source instanceof SourceVideo))
			sourceUpdates.push(function() {
				element.css({
					width: ((source.element.e.currentTime / source.element.e.duration) * 100).toFixed(2) + '%'
				})
			});

		source.hide = (function(sup) {
			return function() {
				sup.apply(this, arguments);
				element.css({ background: 'purple' });
			}
		})(source.hide);

		source.show = (function(sup) {
			return function() {
				sup.apply(this, arguments);
				element.css({ background: 'orange' });
			}
		})(source.show);

		source.stop = (function(sup) {
			return function() {
				sup.apply(this, arguments);
				element.css({ background: 'red' });
			}
		})(source.stop);

		source.play = (function(sup) {
			return function() {
				sup.apply(this, arguments);
				element.css({ background: 'green' });
			}
		})(source.play);

		source.pause = (function(sup) {
			return function() {
				sup.apply(this, arguments);
				element.css({ background: 'blue' });
			}
		})(source.pause);

		source.resume = (function(sup) {
			return function() {
				sup.apply(this, arguments);
				element.css({ background: 'green' });
			}
		})(source.resume);

		$('#active-source-list').append(element);
	}
})(Source.sources.push);
		</script>
	</div>
</div>

<script>
	setInterval(function() {
		var now = Date.now() / 1000;

		for (var id in timeoutUpdates) { timeoutUpdates[id](now); }

		$('#debug-engine-state').text(Engine.paused ? 'paused_' : 'playing');
		$('#debug-engine-volume').text(Engine.volume);
		$('#debug-engine-speed').text(Engine.speed);

		for (var g = 0, gg = sourceUpdates.length; g < gg; g++) { sourceUpdates[g](now); }
	}, 50);
</script>
