<!DOCTYPE html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="version" content="{{version}}">
		<title>Clipci</title>

		<!-- App CSS -->
		{{css.template}}

		<!-- App scripts -->
		{{js.template}}
	</head>
	<body>
		<div id="player" class="player">
			<!-- Debug elements -->
			{{debug.template}}

			<!-- Everything that happens before the content has loaded -->
			<div class="full pre fade">
				<!-- Background image -->
				<div class="full background fade">
					<img class="full bg" alt="">
					<img class="full bg {{blur.template}}" alt="">
				</div>

				<!-- Loading screen controls, interactive content -->
				<div class="full loading">
					<!-- Loading text and -bar -->
					<div class="full fade hidden loading-text">
						<!-- A div to keep the content as large as it needs to be -->
						<div>
							<!-- A div for padding -->
							<div>
								<!-- A logo. -->
								<img class="logo" alt="">
								<!-- Text placement -->
								<h2></h2>

								<!-- Loading bar wrapper -->
								<div class="loading-bar-wrapper">
									<div class="loading-bar"></div>
								</div>
							</div>
						</div>
					</div>

					<!-- Error message -->
					<div class="full fade hidden error-message">
						<h2>Playback Error :&lt;</h2>
						<h3></h3>
					</div>

					<!-- Play button -->
					<div class="full fade hidden loading-button">
						<button class="icon-text large" name="load">Press to load</button>
					</div>

					<!-- Noscript message -->
					<noscript>
						<div class="full fade loading-no-javascript">
							<h3>Please <a href="https://www.enable-javascript.com/" target="_blank">enable JavaScript</a> to support the HTML5 player.</h3>
						</div>
					</noscript>
				</div>
			</div>

			<!-- Stage is used to load new source elements into the player. -->
			<div class="full stage hidden">

			</div>

			<!-- Everything that happens after loading -->
			<div class="full post fade hidden">
				<!-- Where the displayed elements will be placed -->
				<div class="full display"></div>

				<!-- User controls -->
				<div class="full">
					<div class="full fade controls noselect">
						<div class="row">
							<div class="col controls-nw"></div>
							<div class="col mid controls-n"></div>
							<div class="col controls-ne"></div>
						</div>
						<div class="row mid">
							<div class="col controls-w"></div>
							<div class="col mid controls-c"></div>
							<div class="col controls-e"></div>
						</div>
						<div class="row">
							<div class="col controls-sw"></div>
							<div class="col mid controls-s"></div>
							<div class="col controls-se"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{json.template}}
	</body>
</html>
